.gallery{
	display: inline-flex;
	margin: 10px;
	background-size: contain;
	border-radius: 3px;
	border: 1px solid #222;
	box-shadow: 0px 0px 2px 3px #000;
}
.image {
	max-height: 150px;
	max-width: 208px;
	cursor: zoom-in;
}
.popup {
	position: fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	display:none;
	text-align:center;
}

.popup_bg {
	background:rgba(0,0,0,0.4);
	position:fixed;
	z-index:1;
	height:100%;
	width:100%;
}

.popup_img {
	position: relative;
	margin:1% auto;
	z-index:2;
	max-height:96%;
	max-width:96%;
	border-radius: 8px;
	border: 2px solid #222;
	box-shadow: 0px 0px 2px 3px #000;s
}
.over_img {
	position:fixed;
	z-index:3;
	height:100%;
	width:100%;
	cursor: zoom-out;
}